
<p>
	happeningmap gives you the power to find and promote happenings that interest you. <br/><br/>As you find and promote good happenings, happeningmap will connect you to people with similar interests and keep you informed of what's happening in your crowd. </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
